@keyframes el_innerSpin {
  from {
    transform: rotate(0) translateX(100%) rotate(0); }
  to {
    transform: rotate(360deg) translateX(100%) rotate(-360deg); } }

@keyframes rotator {
  from {
    transform: none; }
  to {
    transform: rotate3d(1, 1, 1, 360deg); } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes slides {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: translate(0) rotate(-135deg);
    transform: translate(0) rotate(-135deg); }
  25% {
    opacity: 0;
    -webkit-transform: translate(5px) rotate(-135deg);
    transform: translate(5px) rotate(-135deg); }
  75% {
    opacity: 0;
    -webkit-transform: translate(-5px) rotate(-135deg);
    transform: translate(-5px) rotate(-135deg); } }

@keyframes slides {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: translate(0) rotate(-135deg);
    transform: translate(0) rotate(-135deg); }
  25% {
    opacity: 0;
    -webkit-transform: translate(5px) rotate(-135deg);
    transform: translate(5px) rotate(-135deg); }
  75% {
    opacity: 0;
    -webkit-transform: translate(-5px) rotate(-135deg);
    transform: translate(-5px) rotate(-135deg); } }

@-webkit-keyframes slides2 {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: translate(0) rotate(135deg);
    transform: translate(0) rotate(135deg); }
  25% {
    opacity: 0;
    -webkit-transform: translate(5px) rotate(135deg);
    transform: translate(5px) rotate(135deg); }
  75% {
    opacity: 0;
    -webkit-transform: translate(-5px) rotate(135deg);
    transform: translate(-5px) rotate(135deg); } }

@keyframes slides2 {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: translate(0) rotate(135deg);
    transform: translate(0) rotate(135deg); }
  25% {
    opacity: 0;
    -webkit-transform: translate(5px) rotate(135deg);
    transform: translate(5px) rotate(135deg); }
  75% {
    opacity: 0;
    -webkit-transform: translate(-5px) rotate(135deg);
    transform: translate(-5px) rotate(135deg); } }
