.main_map {
  height: 53em; }

#mapid {
  height: inherit; }
  #mapid .marker-cluster-small {
    background-color: rgba(182, 226, 141, 0.6); }
  #mapid .marker-cluster-small div {
    background-color: rgba(110, 204, 57, 0.6); }
  #mapid .marker-cluster-custom {
    background: #104fad;
    border: 3px solid #ededed;
    border-radius: 50%;
    color: #ededed;
    height: 40px;
    line-height: 37px;
    text-align: center;
    width: 40px; }
  #mapid .marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6); }
  #mapid .marker-cluster-medium div {
    background-color: rgba(240, 194, 12, 0.6); }
  #mapid .marker-cluster-large {
    background-color: rgba(253, 156, 114, 0.6); }
  #mapid .marker-cluster-large div {
    background-color: rgba(241, 128, 23, 0.6); }
  #mapid .marker-cluster-small {
    background-color: #b5e28c; }
  #mapid .marker-cluster-small div {
    background-color: #6ecc39; }
  #mapid .marker-cluster-medium {
    background-color: #f1d357; }
  #mapid .marker-cluster-medium div {
    background-color: #f0c20c; }
  #mapid .marker-cluster-large {
    background-color: #fd9c73; }
  #mapid .marker-cluster-large div {
    background-color: #f18017; }
  #mapid .marker-active {
    filter: hue-rotate(270deg); }
  #mapid .marker-cluster {
    background-clip: padding-box;
    border-radius: 20px; }
  #mapid .marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 15px;
    font: 12px Helvetica Neue,Arial,Helvetica,sans-serif; }
  #mapid .marker-cluster span {
    line-height: 30px; }
  #mapid .XCustTooltip {
    background-color: transparent;
    box-shadow: transparent 0 0 0;
    border: transparent 1px; }
    #mapid .XCustTooltip > div > div {
      background-color: white; }
    #mapid .XCustTooltip:before {
      opacity: 0;
      transform: scale(2);
      transition: 0.2s linear forwards;
      animation: fadeIn 0.5s forwards; }
