.scrollable {
  overflow-y: auto; }

.btn {
  border: none; }

.page-link:focus {
  box-shadow: none; }

.col-auto label {
  margin: 10px;
  text-align: left;
  justify-content: left; }

.empt {
  margin: 2em;
  font-family: cursive;
  font-size: 1.5em; }

.st_card {
  cursor: pointer; }

.main_map {
  height: 53em; }

#mapid {
  height: inherit; }
  #mapid .marker-cluster-small {
    background-color: rgba(182, 226, 141, 0.6); }
  #mapid .marker-cluster-small div {
    background-color: rgba(110, 204, 57, 0.6); }
  #mapid .marker-cluster-custom {
    background: #104fad;
    border: 3px solid #ededed;
    border-radius: 50%;
    color: #ededed;
    height: 40px;
    line-height: 37px;
    text-align: center;
    width: 40px; }
  #mapid .marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6); }
  #mapid .marker-cluster-medium div {
    background-color: rgba(240, 194, 12, 0.6); }
  #mapid .marker-cluster-large {
    background-color: rgba(253, 156, 114, 0.6); }
  #mapid .marker-cluster-large div {
    background-color: rgba(241, 128, 23, 0.6); }
  #mapid .marker-cluster-small {
    background-color: #b5e28c; }
  #mapid .marker-cluster-small div {
    background-color: #6ecc39; }
  #mapid .marker-cluster-medium {
    background-color: #f1d357; }
  #mapid .marker-cluster-medium div {
    background-color: #f0c20c; }
  #mapid .marker-cluster-large {
    background-color: #fd9c73; }
  #mapid .marker-cluster-large div {
    background-color: #f18017; }
  #mapid .marker-active {
    filter: hue-rotate(270deg); }
  #mapid .marker-cluster {
    background-clip: padding-box;
    border-radius: 20px; }
  #mapid .marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 15px;
    font: 12px Helvetica Neue,Arial,Helvetica,sans-serif; }
  #mapid .marker-cluster span {
    line-height: 30px; }
  #mapid .XCustTooltip {
    background-color: transparent;
    box-shadow: transparent 0 0 0;
    border: transparent 1px; }
    #mapid .XCustTooltip > div > div {
      background-color: white; }
    #mapid .XCustTooltip:before {
      opacity: 0;
      transform: scale(2);
      transition: 0.2s linear forwards;
      animation: fadeIn 0.5s forwards; }

#ctr-list {
  max-height: 20em;
  overflow-y: scroll; }
  #ctr-list li {
    min-height: 3em; }

#flyn_toggle.btn.btn-secondary {
  border: none; }
  #flyn_toggle.btn.btn-secondary:hover {
    background-color: white; }

.flyn {
  height: inherit;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  position: absolute;
  top: 3.5em;
  width: 22em;
  z-index: 950;
  padding-bottom: 1.5rem;
  -webkit-transform: translate(-100%);
  -ms-transform: translate(-100%);
  transform: translate(-100%); }

.cur_count_wrapper {
  width: 100%;
  position: relative; }
  .cur_count_wrapper .cur_count {
    position: absolute;
    bottom: 2em;
    z-index: 100000;
    right: 1em;
    background-color: white;
    padding: 1em;
    border-radius: 5em;
    box-shadow: 0 0 0.3em black; }

.drp {
  float: right; }

.weath {
  opacity: 0;
  animation: fadeIn 0.8s linear forwards; }
  .weath .w_gaudge:after, .weath .w_gaudge:before {
    background-color: #ff3e3e;
    position: absolute;
    right: 0;
    content: ""; }
  .weath .w_gaudge:after, .weath .w_gaudge:before,
  .weath .w_gaudge .col-auto:before {
    content: ""; }
  .weath .w_dt-header {
    margin: 0;
    -webkit-box-shadow: 0 -2px 6px #dedede;
    box-shadow: 0 -2px 6px #dedede;
    border-radius: 3em 3em 0 0; }

.w_header {
  margin-left: -15px;
  margin-right: -15px;
  z-index: 2; }

.w_cont {
  border-radius: 10px;
  -webkit-box-shadow: 3px 1px 10px #d2d2d2;
  box-shadow: 3px 1px 10px #d2d2d2; }

.weath i.disabled {
  opacity: 0.3; }

.weath .wi {
  font-size: 1.5em; }
  .weath .wi:last-of-type {
    margin: 0 10px 0 0; }

.weath .w_s i.wi {
  font-size: 1.6em;
  margin-top: 5px; }

.w_s {
  margin-top: 0;
  z-index: 1000;
  padding: 5px 10px;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  -webkit-box-shadow: 0 4px 10px #e3e3e3;
  box-shadow: 0 4px 10px #e3e3e3; }

.weath .col-auto {
  margin: 10px; }

.weath .wi-celsius {
  margin: 0;
  top: 1px;
  font-size: 1.5em;
  position: absolute; }

.weath .w_gaudge:after {
  border: 0.4rem solid #cecece;
  border-radius: 10px;
  width: 0.9em;
  height: 90%;
  top: 5%;
  bottom: 5%;
  left: 45%; }

.weath .w_gaudge:before {
  z-index: 1;
  border: 5px solid #cecece;
  border-radius: 1em;
  width: 2em;
  height: 2em;
  bottom: 2%;
  left: calc(45% - 1.05em / 2); }

.weath .w_gaudge_wrap {
  position: relative;
  width: 10em;
  min-width: 200px;
  margin: 0; }

.weath .w_gaudge {
  position: relative;
  padding: 2em 0 2em 52.5%;
  margin: 10px 0; }
  .weath .w_gaudge div {
    margin: 0; }
    .weath .w_gaudge div:last-child {
      margin-bottom: 13%; }
    .weath .w_gaudge div.col-auto {
      font-size: 1.1em;
      font-weight: 500; }
  .weath .w_gaudge .col-auto:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    border: 1px solid #000;
    background: #00f;
    border-radius: 1em;
    height: 0.6em;
    position: absolute;
    z-index: 10;
    left: -6px;
    top: 8px;
    bottom: 0; }

.weath .badge {
  font-size: 0.7em;
  margin-left: 5px; }

.weath .w_gaudge .badge {
  position: absolute;
  top: -2px;
  left: 8em;
  font-size: 0.6em;
  font-weight: 500; }

.weath .w_gaudge .w_aver:after,
.weath .w_gaudge .w_dewp:after,
.weath .w_gaudge .w_max:after,
.weath .w_gaudge .w_min:after {
  border-radius: 1em;
  height: 0.6em;
  font-size: 1em;
  font-weight: 300;
  position: absolute;
  z-index: 10;
  left: -3.5em;
  top: 0;
  bottom: 0; }

.weath .w_gaudge .w_max:after {
  content: "Max"; }

.weath .w_gaudge .w_min:after {
  content: "Min"; }

.weath .w_gaudge .w_aver:after {
  content: "Aver"; }

.weath .w_gaudge .w_dewp:after {
  content: "Dwp"; }

.w_footer {
  background: inherit; }

.w_id {
  border-radius: 3em 3em 0 0;
  -webkit-box-shadow: 2px -2px 4px 0 #d1d1d1;
  box-shadow: 2px -2px 4px 0 #d1d1d1; }

.st_ra {
  font-weight: 500; }
  .st_ra:before {
    content: "-";
    position: absolute; }

.st_id:before {
  content: "ID: ";
  font-weight: 400; }

.st_elev,
.st_id,
.st_lat,
.st_lon {
  font-weight: 700; }

.st_lat:before {
  content: "LAT: ";
  font-weight: 400; }

.st_lon:before {
  content: "LON:";
  font-weight: 400; }

.st_elev:before {
  content: "Elevation: ";
  font-weight: 400; }

nav .nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.nav .nav-item {
  border: 1px solid;
  margin-bottom: 0.4rem; }

.tab-pane {
  min-height: 10em; }

.navi .nav-item {
  border: 2px solid #d1d1ff;
  border-radius: 4px; }
  .navi .nav-item.active {
    font-size: 1.04em;
    background-color: #fff;
    border: 2px solid #3a3eff; }

.flyn.active {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none; }

.fx {
  position: absolute;
  right: -2em;
  top: 6em;
  height: 4em;
  width: 2em;
  background: #fff;
  padding: 0;
  -webkit-box-shadow: 3px 0 6px #dedede;
  box-shadow: 3px 0 6px #dedede;
  border-radius: 0 0.4em 0.4em 0; }
  .fx span {
    background-color: #0ff;
    z-index: 10000; }
  .fx.btn:focus {
    outline: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .fx span:after, .fx span:before {
    content: "";
    -webkit-transition: 1s all ease;
    -o-transition: 1s all ease;
    transition: 1s all ease;
    position: absolute;
    width: 0.1em;
    height: 2em;
    top: 0.25em;
    border: 1px solid #000;
    background-color: #000;
    border-radius: 5px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .fx .fx1:after,
  .fx .fx2:after {
    top: 1.6em;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.flyn.active .fx1:after,
.flyn.active .fx2:after {
  top: 1em;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.flyn.active .fx1:before,
.flyn.active .fx2:before {
  top: 1em;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.flyn.active .fx1 span:after,
.flyn.active .fx2 span:after {
  top: 1em;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.flyn.active .fx1 span:before,
.flyn.active .fx2 span:before {
  top: 1em;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.flyn.active .fx:hover .fx1:after,
.flyn.active .fx:hover .fx2:after {
  top: 0.25em;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.flyn.active .fx:hover .fx1:after {
  animation: slides 1s linear infinite reverse; }

.flyn.active .fx:hover .fx2:after {
  animation: slides 1s linear infinite reverse 0.8s; }

.flyn.active .fx:hover .fx1:before,
.flyn.active .fx:hover .fx2:before {
  top: 1.6em;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.flyn.active .fx:hover .fx1:before {
  animation: slides2 1s linear infinite reverse; }

.flyn.active .fx:hover .fx2:before {
  animation: slides2 1s linear infinite reverse 0.8s; }

.fx:hover .fx1:before {
  -webkit-animation: slides2 1s linear infinite;
  animation: slides2 1s linear infinite; }

.fx:hover .fx1:after {
  -webkit-animation: slides 1s linear infinite 0.8s;
  animation: slides 1s linear infinite 0.8s; }

.fx:hover .fx2:before {
  -webkit-animation: slides2 1s linear infinite 0.8s;
  animation: slides2 1s linear infinite 0.8s; }

.fx:hover .fx2:after {
  -webkit-animation: slides 1s linear infinite;
  animation: slides 1s linear infinite; }

#flyn_current_station {
  height: 15em;
  position: relative;
  opacity: 0;
  animation: fadeIn 0.8s linear forwards; }

.x_loader {
  transition: 0.4s all;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background: radial-gradient(#ffffff, #d8d8d826); }
  .x_loader .progress-x {
    position: absolute;
    left: -5em;
    right: -5em;
    z-index: 10000;
    bottom: -7em; }
    .x_loader .progress-x .progress-barx {
      height: 100%;
      position: relative; }

.wload {
  font-size: 1.4em;
  font-weight: 600;
  position: absolute;
  bottom: -1em;
  margin: auto;
  left: -35%; }

.load_text {
  position: absolute;
  left: -50;
  right: -50;
  margin: auto; }

.x_loader.top {
  z-index: 10000; }

.x_loader.fade {
  transition: 1s all;
  z-index: -100; }

.st_loader-inner_reactor {
  box-shadow: inset 1px 1px 10px 1px #2e3dff;
  height: inherit;
  width: inherit;
  border: inherit;
  border-radius: inherit; }

.st_loader_reactor {
  position: relative;
  min-width: 6em;
  min-height: 6em;
  width: 6em;
  height: 6em;
  border-radius: 3em;
  box-shadow: 0 0 9em 5em #ffffff; }

.st_loader {
  font-size: 2em;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 0.03em solid #000;
  width: 1.5em;
  height: 1.5em;
  border-radius: 3em; }

.st_loader_core,
.st_loader_sm {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 0.03em solid #000;
  width: 1.5em;
  height: 1.5em;
  border-radius: 3em; }

.st_loader_core {
  z-index: -1;
  width: 0.5em;
  height: 0.5em;
  -webkit-box-shadow: 0 0 0.12em 0.06em #046464;
  box-shadow: 0 0 0.12em 0.06em #046464;
  border: none;
  background-color: #ffeaea; }

.st_loader.x1 {
  width: 1.5em;
  height: 1.5em;
  -webkit-animation: rotator 1s linear infinite 0.3s;
  animation: rotator 1s linear infinite 0.3s; }

.st_loader.x2 {
  width: 2em;
  height: 2em;
  animation: rotator 1.2s linear reverse infinite 0.1s; }

.st_loader.x3 {
  width: 2.5em;
  height: 2.5em;
  -webkit-animation: rotator 1.3s linear infinite 0.2s;
  animation: rotator 1.3s linear infinite 0.2s; }

.st_loader.x4 {
  width: 3em;
  height: 3em;
  animation: rotator 1.6s linear reverse infinite 0.3s; }

.dx {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%; }
  .dx .el {
    position: absolute;
    width: 50.5%;
    left: 50%;
    top: 50%;
    margin: -3px -3px -3px -5px; }
    .dx .el .el-inner:after, .dx .el .el-inner:before {
      content: "";
      position: absolute;
      top: 1px;
      left: 2px;
      width: 0.17em;
      height: 0.17em;
      background-color: #0000bc;
      border: 1px solid #1400ff;
      border-radius: 1em;
      box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.9); }
    .dx .el:nth-of-type(1) {
      animation: el_innerSpin 6s linear infinite 1.5s; }
    .dx .el:nth-of-type(2) {
      animation: el_innerSpin 2s linear infinite 0.5s; }
    .dx .el:nth-of-type(3) {
      animation: el_innerSpin 1s linear infinite 1s; }

.w_out {
  position: relative;
  width: 100%; }

.w_selector {
  position: absolute;
  top: -2em;
  right: -2em;
  border-radius: 10em;
  background-color: black;
  width: 2em;
  height: 2em;
  display: block;
  cursor: pointer;
  font-size: 1.3em;
  user-select: none; }
  .w_selector input[type="checkbox"] i {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .w_selector input {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    z-index: 100; }
    .w_selector input:checked ~ .w_mark {
      background-color: #2196F3; }
    .w_selector input:checked ~ .w_mark:after {
      display: block; }
  .w_selector:hover input ~ .w_mark {
    background-color: #ccc; }
  .w_selector .w_mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 0.2em;
    background-color: #eee; }
    .w_selector .w_mark:after {
      content: "";
      position: absolute;
      display: none;
      left: 40%;
      top: 10%;
      width: 0.5em;
      height: 1.25em;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }

.container.overex {
  box-shadow: 2px 1px 15px 1px;
  border-radius: 1em;
  overflow-y: scroll;
  max-height: 40vh; }

@keyframes el_innerSpin {
  from {
    transform: rotate(0) translateX(100%) rotate(0); }
  to {
    transform: rotate(360deg) translateX(100%) rotate(-360deg); } }

@keyframes rotator {
  from {
    transform: none; }
  to {
    transform: rotate3d(1, 1, 1, 360deg); } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes slides {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: translate(0) rotate(-135deg);
    transform: translate(0) rotate(-135deg); }
  25% {
    opacity: 0;
    -webkit-transform: translate(5px) rotate(-135deg);
    transform: translate(5px) rotate(-135deg); }
  75% {
    opacity: 0;
    -webkit-transform: translate(-5px) rotate(-135deg);
    transform: translate(-5px) rotate(-135deg); } }

@keyframes slides {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: translate(0) rotate(-135deg);
    transform: translate(0) rotate(-135deg); }
  25% {
    opacity: 0;
    -webkit-transform: translate(5px) rotate(-135deg);
    transform: translate(5px) rotate(-135deg); }
  75% {
    opacity: 0;
    -webkit-transform: translate(-5px) rotate(-135deg);
    transform: translate(-5px) rotate(-135deg); } }

@-webkit-keyframes slides2 {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: translate(0) rotate(135deg);
    transform: translate(0) rotate(135deg); }
  25% {
    opacity: 0;
    -webkit-transform: translate(5px) rotate(135deg);
    transform: translate(5px) rotate(135deg); }
  75% {
    opacity: 0;
    -webkit-transform: translate(-5px) rotate(135deg);
    transform: translate(-5px) rotate(135deg); } }

@keyframes slides2 {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: translate(0) rotate(135deg);
    transform: translate(0) rotate(135deg); }
  25% {
    opacity: 0;
    -webkit-transform: translate(5px) rotate(135deg);
    transform: translate(5px) rotate(135deg); }
  75% {
    opacity: 0;
    -webkit-transform: translate(-5px) rotate(135deg);
    transform: translate(-5px) rotate(135deg); } }
