@import url('~react-leaflet-markercluster/dist/styles.min.css');
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
@font-face {
  font-family: 'wi';
  font-style: normal;
  font-weight: 400;
  src: url('font/weathericons-regular-webfont.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('font/weathericons-regular-webfont.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('font/weathericons-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('font/weathericons-regular-webfont.woff') format('woff'), /* Modern Browsers */
       url('font/weathericons-regular-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
       url('font/weathericons-regular-webfont.svg') format('svg'); /* Legacy iOS */
}

@import 'css/weather-icons.min.css';
@import "css/typeahead.css";

@import "css/styles.css";
