
.flyn.active {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.fx {
  span {
    background-color: #0ff;
    z-index: 10000;
  }
  position: absolute;
  right: -2em;
  top: 6em;
  height: 4em;
  width: 2em;
  background: #fff;
  padding: 0;
  -webkit-box-shadow: 3px 0 6px #dedede;
  box-shadow: 3px 0 6px #dedede;
  border-radius: 0 0.4em 0.4em 0;

  &.btn:focus {
    outline: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  span {
    &:after,
    &:before {
      content: "";
      -webkit-transition: 1s all ease;
      -o-transition: 1s all ease;
      transition: 1s all ease;
      position: absolute;
      width: 0.1em;
      height: 2em;
      top: 0.25em;
      border: 1px solid #000;
      background-color: #000;
      border-radius: 5px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }

  .fx1:after,
  .fx2:after {
    top: 1.6em;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.flyn.active {
  .fx1:after,
  .fx2:after {
    top: 1em;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .fx1:before,
  .fx2:before {
    top: 1em;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .fx1 span:after,
  .fx2 span:after {
    top: 1em;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .fx1 span:before,
  .fx2 span:before {
    top: 1em;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .fx:hover {
    .fx1:after,
    .fx2:after {
      top: 0.25em;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .fx1:after {
      animation: slides 1s linear infinite reverse;
    }

    .fx2:after {
      animation: slides 1s linear infinite reverse 0.8s;
    }

    .fx1:before,
    .fx2:before {
      top: 1.6em;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    .fx1:before {
      animation: slides2 1s linear infinite reverse;
    }

    .fx2:before {
      animation: slides2 1s linear infinite reverse 0.8s;
    }
  }
}

.fx:hover {
  .fx1 {
    &:before {
      -webkit-animation: slides2 1s linear infinite;
      animation: slides2 1s linear infinite;
    }

    &:after {
      -webkit-animation: slides 1s linear infinite 0.8s;
      animation: slides 1s linear infinite 0.8s;
    }
  }

  .fx2 {
    &:before {
      -webkit-animation: slides2 1s linear infinite 0.8s;
      animation: slides2 1s linear infinite 0.8s;
    }

    &:after {
      -webkit-animation: slides 1s linear infinite;
      animation: slides 1s linear infinite;
    }
  }
}

#flyn_current_station {
  height: 15em;
  position: relative;
  opacity: 0;
  animation: fadeIn 0.8s linear forwards;
}
